* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* css de IMC */
.card {
  font-size: 150%;
  width: 90vw;
}
.card-body {
  height: auto;
  font-size: 60%;
}
.fondo_gris {
  background-color: rgb(226, 224, 224);
}

.p-resultado {
  background-color: white;
}

/* DIVISAS */

.divisas {
  font-size: 150%;
  color: rgb(197, 196, 196);
}
.peso-arg {
  border-bottom: solid rgb(175, 175, 175);
  color: white;
}
.dollar {
  border-top: solid rgb(175, 175, 175);
}
.peso {
  border: none;
}
#calcular {
  height: 8vh;
}
.btn {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#guardar {
  font-size: 80%;
}
#borrar {
  font-size: 80%;
}

/* NOTAS */
.text-tarea {
  min-height: 10vh;
}
.h1-notas {
  font-size: 90%;
}
header {
  background-color: grey;
  height: 10vh;
  text-align: center;
  font-size: 120%;
  display: flex;
  justify-content: center;
}
.a-nav {
  text-decoration: none;
  border: solid white;
  border-radius: .5rem;
  background-color: aliceblue;
  width: 10vw;
  height: 6vh;
  margin: 1rem;
}

main {
  min-height: 80vh;
  
}
 footer {
  background-color: grey;
  height: 10vh;
  text-align: center;
  font-size: 120%;
 }
 
@media (min-width: 320px) and (max-width: 767px) {
  .a-nav {
    font-size: 80%;
    width: 20vw;
  }
  .resultado {
    padding-top: 1rem;
    height: 15vh;
    width: 100%;
  }
  .label-resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .p-resultado {
    width: 100%;
    container: fluid;
    background-color: white;
    height: 5vh;
  }
  .resultado {
    height: 15vh;
  }
  .card {
    font-size: 160%;
    margin: 0%;
  }

  /* divisas */
  .divisas {
    font-size: 80%;
  }
}
